<div class="auth-container">
  <mat-card>
    <div>
      <h1>Account Login</h1>
      <form [formGroup]="form">
        <label>E-mail</label>
        <mat-form-field class="example-full-width form-control w-100">
          <mat-label>Enter your e-mail</mat-label>
          <input formControlName="email" matInput placeholder="joe.root@gmail.com">
          <mat-error *ngIf="form.get('email')?.hasError('required')">E-mail required.</mat-error>
        </mat-form-field>
        <label>Password</label>
        <mat-form-field class="example-full-width form-control w-100">
          <mat-label>Enter your password</mat-label>
          <input formControlName="password" matInput placeholder="*******">
          <mat-error *ngIf="form.get('password')?.hasError('required')">Password required.</mat-error>
        </mat-form-field>
        <div class="checkbox-section">
          <mat-checkbox color='primary' class="example-margin">Remember Me</mat-checkbox>
          <div class="empty-div"></div>
          <p>Forgot Password</p>
        </div>
        <button type="submit" (click)="login()" mat-raised-button class="w-100" color="primary">Login</button>
        <div class="link">
          <p [routerLink]="['/auth/register']">Don't have an account? Register</p>
        </div>
      </form>

    </div>
  </mat-card>
</div>